<!-- /snippets/newsletter-signup.liquid -->
<form class="newsletter-signup" action="https://abelobjects.us16.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="e2158dee7315ae979691bdea8">
    <input type="hidden" name="id" value="4b75d66f34">
      
	<div class="newsletter-signup-container">
		<input  type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Email Address" />
		<input type="submit" class="formEmailButton" name="submit" class="newsletter-signup-submit" />
	</div>
	
  <input type="hidden" name="ht" value="51d8c47c47c6faee873487152d0f9d39a85c4d8e:MTUwNzY3NjAxMC45Njgy">
  <input type="hidden" name="mc_signupsource" value="hosted">
      
</form>