/* NEUZEIT */


@font-face {
    font-family: 'canela';
    src: url('Canela-Thin-Web.eot');
    src: url('Canela-Thin-Web.eot?#iefix') format('embedded-opentype'),
         url('Canela-Thin-Web.woff2') format('woff2'),
         url('Canela-Thin-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'canela';
    src: url('Canela-ThinItalic-Web.eot');
    src: url('Canela-ThinItalic-Web.eot?#iefix') format('embedded-opentype'),
         url('Canela-ThinItalic-Web.woff2') format('woff2'),
         url('Canela-ThinItalic-Web.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'graphik';
    src: url('Graphik-Regular-Web.eot');
    src: url('Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
         url('Graphik-Regular-Web.woff2') format('woff2'),
         url('Graphik-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	
}


@font-face {
    font-family: 'graphik';
    src: url('Graphik-Medium-Web.eot');
    src: url('Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
         url('Graphik-Medium-Web.woff2') format('woff2'),
         url('Graphik-Medium-Web.woff') format('woff');
    font-weight: bold;
    font-style: normal;
	
}
